<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Sora:wght@100;500&display=swap" rel="stylesheet">
        <title>Printcenter Soluciones Gráficas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <link rel="shortcut icon" href="../Img/Icon_Printcenter.png" type="image/x-icon">
    </head>
    <body>
        <header  class="header">
            <div class="logo">
                <img src="../Img/Logo Printcenter - letras negras y grises.png" alt="Logo_Printcenter" class="img-fluid">
            </div>
            <div>
                <nav class="menu">
                    <a href="../index.html">Home</a>
                    <a href="./Nosotros.html">Nosotros</a>
                    <a href="./Servicios.html">Servicios</a>
                    <a href="./Portfolio.html">Portfolio</a>
                    <a href="./Contacto.html">Contacto</a>
                </nav>
            </div>   
        </header>
            <main class="principal">
                <section>
                    <h1 class="titulo__principal">NUESTROS TRABAJOS</h1>
                </section>
                    <article class="container__portfolio">
                        <div class="Portfolio_1"><p class="titulos_portfolios">REVISTAS</p>
                            <img src="../Img/Portfolio/Portfolio_1.png" alt="Folletos y revistas" width="250px">
                        </div>
                        <div class="Portfolio_2"><p class="titulos_portfolios">BROCHURES</p>
                            <img src="../Img/Portfolio/Portfolio_2.png" alt="Flyers y catalogos" width="250px">
                        </div>
                        <div class="Portfolio_3"><p class="titulos_portfolios">IMPRESION DIGITAL</p>
                            <img src="../Img/Portfolio/Portfolio_3.png" alt="Folletos y revistas digital" width="250px">
                        </div>
                        <div class="Portfolio_4"><p class="titulos_portfolios">CATÁLOGOS</p>
                            <img src="../Img/Portfolio/Portfolio_4.png" alt="Tarjetas personales" width="250px">
                        </div>
                        <div class="Portfolio_5"><p class="titulos_portfolios">TARJETAS PERSONALES</p>
                            <img src="../Img/Portfolio/Portfolio_5.png" alt="Folletos y revistas offset" width="250px">
                        </div>
                        <div class="Portfolio_6"><p class="titulos_portfolios">FOLLETOS</p>
                            <img src="../Img/Portfolio/Portfolio_6.png" alt="Comunicacion visual" width="250px">
                        </div>
                        <div class="Portfolio_7"><p class="titulos_portfolios">TAZAS PERSONALIZADAS</p>
                            <img src="../Img/Portfolio/Portfolio_7.png" alt="tazas impresas" width="250px">
                        </div>
                        <div class="Portfolio_8"><p class="titulos_portfolios">BOTELLAS PERSONALIZADAS</p>
                            <img src="../Img/Portfolio/Portfolio_8.png" alt="Botellas impresas" width="250px">
                        </div>
                        <div class="Portfolio_9"><p class="titulos_portfolios">SUBLIMACION</p>
                            <img src="../Img/Portfolio/Portfolio_9.png" alt="Remeras y bolsas" width="250px">
                        </div>
                        <div class="Portfolio_10"><p class="titulos_portfolios">MERCHANDISING</p>
                            <img src="../Img/Portfolio/Portfolio_10.png" alt="Gorras y bolsas de papel" width="250px">
                        </div>
                        <div class="Portfolio_11"><p class="titulos_portfolios">ENCUADERNACIONES</p>
                            <img src="../Img/Portfolio/Portfolio_11.png" alt="Revistas offset" width="250px">
                        </div>
                        <div class="Portfolio_12"><p class="titulos_portfolios">LAPICERAS PERSONALIZADAS</p>
                            <img src="../Img/Portfolio/Portfolio_12.png" alt="Lapiceras" width="250px">
                        </div>
                        <div class="Portfolio_16"><p class="titulos_portfolios">ROLL UP´S</p>
                            <img src="../Img/Portfolio/Portfolio_16.png" alt="Comunicacion visual" width="550px">
                        </div>
                    </article>                     
            </main>
            <footer>
                <nav class="footer__nav">
                    <ul class="footer__menu">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="./Nosotros.html">Nosotros</a></li>
                        <li><a href="./Servicios.html">Servicios</a></li>
                        <li><a href="./Portfolio.html">Portfolio</a></li>
                        <li><a href="./Contacto.html">Contacto</a></li>
                    </ul>
                    <div class="redes_sociales">
                        <img src="../Img/Facebook.png" alt="Facebook" width="50px">
                        <img src="../Img/Instagram.png" alt="Instagram"width="50px">
                        <img src="../Img/Twitter.png" alt="Twitter"width="50px">
                        <img src="../Img/WhatsApp.png" alt="WhatsApp"width="50px">
                    </div>                                
                    <div>
                        <p class="copyright">Copyright 2022 © All rights Reserved</p>
                    </div>
                    <div class="email">
                        <a href="mailto:info@printcenter.com">info@printcenter.com</a>
                    </div>
                    <div class="phone">
                        <a href="callto: 54 11 5555-5555">(+54-11) 5555-5555</a>
                    </div>
                </nav>               
            </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>            
    </body>
</html>